body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgb(51, 67, 99);
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(177, 83, 83);
  border: 1px solid #999;
  float: left;
  font-size: 3em;
  font-weight: bold;
  line-height: 34px;
  height: 3.5em;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 3.5em;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  font-size: 2em;
  margin-left: 20px;
}

button {
  font-size: 1em;
  background: rgb(177, 83, 83);
}
